.app-footer {
  margin-top: auto;
  background-color: #4567b7;
  color: white;
  text-align: center;
  padding: 20px 10px;
  font-family: 'Arial', sans-serif;
  font-size: 1rem;
  border-top: 2px solid #3a5a80;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}


/* Responsive footer */
@media (max-width: 768px) {
  .app-footer {
    font-size: 0.9rem;
    padding: 15px 5px;
  }
}
