<div class="sidebar">
    <ul>
      <li><a routerLink="/leader/falkner">Falkner (Violet City)</a></li>
      <li><a routerLink="/leader/bugsy">Bugsy (Azalea Town)</a></li>
      <li><a routerLink="/leader/whitney">Whitney (Goldenrod City)</a></li>
      <li><a routerLink="/leader/morty">Morty (Ecruteak City)</a></li>
      <li><a routerLink="/leader/chuck">Chuck (Cianwood City)</a></li>
      <li><a routerLink="/leader/jasmine">Jasmine (Olivine City)</a></li>
      <li><a routerLink="/leader/pryce">Pryce (Mahogany Town)</a></li>
      <li><a routerLink="/leader/clair">Clair (Blackthorn City)</a></li>
    </ul>
  </div>
  
  <button class="button" (click)="navigateToHome()">Back to Home</button>
  